In [1]:
%reload_ext sql
%config SqlMagic.style = '_DEPRECATED_DEFAULT'
%sql sqlite:///practice.db

# Aggregations, GROUP BY and HAVING

In [ ]:
# This is used to summarise the data 
# The functions are: COUNT() , SUM() , AVG() , MIN() , MAX()

# Syntax:
# SELECT col1, COUNT(*) AS count, AVG(col2) AS avg_col2
# FROM table
# GROUP BY dept_id
# HAVING COUNT(*) >= 1

In [3]:
%%sql
SELECT dept_id, COUNT(*) AS headcount, AVG(salary) AS avg_salary
FROM employees
GROUP BY dept_id
HAVING COUNT(*) >= 1;

 * sqlite:///practice.db
Done.

[(None, 1, 72000.0), (1, 2, 85000.0), (2, 1, 65000.0), (3, 1, 70000.0)]

In [ ]:
%%sql
SELECT dept_id, COUNT(*) AS headcount, AVG(salary) AS avg_salary
FROM employees
GROUP BY dept_id
HAVING COUNT(*) >= 2;

In [ ]:
# Questions

# 1. How many products per category?
# 2. Total revenue across all orders.
# 3. Average order total per customer.

In [7]:
%%sql
-- 1
SELECT category, count(*) AS count FROM products GROUP BY category;

 * sqlite:///practice.db
Done.

[('Electronics', 2), ('Home', 1), ('Stationery', 1)]

In [9]:
%%sql
-- 2
SELECT SUM(total) as sum_total FROM orders;

 * sqlite:///practice.db
Done.

[(3636.0,)]

In [22]:
%%sql
-- 3
SELECT c.id, AVG(o.total) as avg_total FROM orders o JOIN customers c ON c.id = o.customer_id GROUP BY c.id;

 * sqlite:///practice.db
Done.

[(1, 1225.0), (2, 2400.0), (3, 11.0)]

In [ ]:
# Solutions

# SELECT category, COUNT(*) AS count FROM products GROUP BY category;
# SELECT SUM(total) AS total_revenue FROM orders;
# SELECT c.name, AVG(o.total) AS avg_total FROM customers c JOIN orders o ON
# c.id = o.customer_id GROUP BY c.id;