In [1]:
%reload_ext sql
%config SqlMagic.style = '_DEPRECATED_DEFAULT'
%sql sqlite:///practice.db

# CTEs and recursive queries in SQL

In [ ]:
# This if for creating a temp table to query from, allowing for cleanly structured complex queries.

# WITH recent_orders AS (
#     SELECT * FROM orders WHERE order_date >= '2023-05-01'
#   )
#   SELECT ro.id, c.name, ro.total
#   FROM recent_orders ro
#   JOIN customers c ON ro.customer_id = c.id;


# Example recursive

#   WITH RECURSIVE seq(x) AS (
#     SELECT 1
# UNION ALL
#     SELECT x+1 FROM seq WHERE x < 5
#   )
# SELECT * FROM seq;

In [5]:
%%sql
-- Customers who have orders with total > 1000
SELECT * FROM customers
WHERE id IN (SELECT customer_id FROM orders WHERE total > 1000);

 * sqlite:///practice.db
Done.

[(1, 'Acme Corp', 'London'), (2, 'Bright Co', 'Berlin')]

In [6]:
%%sql
-- with derived table 
SELECT t.customer_id, AVG(t.total) AS avg_order
  FROM (SELECT * FROM orders WHERE order_date >= '2023-01-01') t
  GROUP BY t.customer_id;

 * sqlite:///practice.db
Done.

[(1, 1225.0), (2, 2400.0), (3, 11.0)]

In [ ]:
# Questions

# 1. Find customers who ordered product id = 1.
# 2. List products with price greater than the average product price.

In [20]:
%%sql
-- 1
SELECT c.name, j.product_id
FROM customers c
JOIN (
    SELECT o.id AS order_id, o.customer_id, oi.product_id
    FROM orders o JOIN order_items oi ON o.id = oi.order_id
    WHERE oi.product_id = 1
    ) j
WHERE c.id = j.customer_id;

 * sqlite:///practice.db
Done.

[('Acme Corp', 1), ('Bright Co', 1)]

In [21]:
%%sql
-- 2 List products with price greater than the average product price.

SELECT * FROM products
WHERE price > (SELECT AVG(price) FROM products);

 * sqlite:///practice.db
Done.

[(1, 'Laptop', 'Electronics', 1200.0)]

In [ ]:
# Solutions

# 1. SELECT * FROM customers 
#   WHERE id IN (
#       SELECT customer_id FROM order_items oi 
#       JOIN products p ON oi.product_id = p.id 
#       WHERE p.id = 1
#       ); 
# 2. SELECT * FROM products WHERE price > (SELECT AVG(price) FROM products);