In [1]:
%reload_ext sql
%config SqlMagic.style = '_DEPRECATED_DEFAULT'
%sql sqlite:///practice.db

# CTEs and recursive queries in SQL

In [ ]:
# This if for creating a temp table to query from, allowing for cleanly structured complex queries.

# WITH recent_orders AS (
#     SELECT * FROM orders WHERE order_date >= '2023-05-01'
#   )
#   SELECT ro.id, c.name, ro.total
#   FROM recent_orders ro
#   JOIN customers c ON ro.customer_id = c.id;


# Example recursive

#   WITH RECURSIVE seq(x) AS (
#     SELECT 1
# UNION ALL
#     SELECT x+1 FROM seq WHERE x < 5
#   )
# SELECT * FROM seq;

In [ ]:
# Questions

# 1. Use a CTE to compute each customer's total spend (sum of their orders).
# 2. Use a recursive CTE to generate the numbers 1..10.

In [ ]:
%%sql
-- 1 without CTE
SELECT customer_id, SUM(total) AS total_spend FROM orders GROUP BY customer_id;

 * sqlite:///practice.db
Done.

[(1, 1225.0), (2, 2400.0), (3, 11.0)]

In [14]:
%%sql
-- 1 with CTE
WITH customer_totals AS (
    SELECT customer_id, SUM(total) AS total_spent FROM orders GROUP BY customer_id
    ) 
SELECT * FROM customer_totals;

 * sqlite:///practice.db
Done.

[(1, 1225.0), (2, 2400.0), (3, 11.0)]

In [6]:
%%sql

WITH RECURSIVE seq(x) AS (
    SELECT 1
UNION ALL
    SELECT x+1 FROM seq WHERE x <10
  )
SELECT * FROM seq;

 * sqlite:///practice.db
Done.

[(1,), (2,), (3,), (4,), (5,), (6,), (7,), (8,), (9,), (10,)]